* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

nav {
  width: 70%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;

  ul {
    display: inline-block;
    width: 100%;
    line-height: 3;

    li.logo{
      width: 10%;

      img{
        vertical-align: middle;
      }
    }

    li {
      text-align: center;
      width: 18%;
      padding: 0 20px;
      line-height: 2;
      display: inline-block;
      color: rgb(60, 60, 60);
    }
  }
}

.container{
  width: 70%;
  margin: auto;
  font-family: 'Lato', sans-serif;

  .row{
    min-height: 300px;
  }

  h1{
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    color: rgb(60, 60, 60);
  }

  h2{
    margin-top: 12px;
    color: #3c3c3c;
    font-weight: 900;
  }
}

.text-center{
  text-align: center;
}

.margin-top-small{
  margin-top: 20px;
}

.margin-top-medium{
  margin-top: 50px;
}

.margin-top-large{
  margin-top: 100px;
}

.description{
  line-height: 1.6;
  font-weight: 300;
  font-size: 20px;
}

.btn{
  padding: 12px 20px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;

  &.btn-default{
    &:hover{
      background-color: rgba(200, 200, 200, 0.4);
    }
  }

  &.btn-primary{
    background-color: #3aa3e3;
    color: #fff;

    &:hover{
      background-color: #1d8acd;
    }
  }
}

.one-col{

  .col{
    margin: auto;
    width: 90%;

    &.medium{
      width: 60%;
    }
  }
}

.two-col-picture{
  width: 100%;

  .col{
    display: inline-block;
    width: 50%;

    img{
      padding: 5%;
      display: block;
      margin: auto;
    }

    &.large{
      vertical-align: middle;
      width: 59%;
      background-color: #F8F8F8;
    }

    &.small{
      width: 40%;
      padding: 5%;
    }
  }
}