body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif; }

.container {
    width: 100%; }

.article-container {
    width: 50%;
    font-family: 'Lato', sans-serif;
    margin: 0 auto; }
.article-container .article-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%; }
.article-container .article-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px; }
.article-container .article-content {
    text-align: justify; }
.article-container .article-content .article-details {
    font-weight: bold;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px; }
.article-container .article-content .article-details img {
    height: 50px;
    width: 50px;
    border-radius: 50%; }
.article-container .article-content .article-details span {
    padding-left: 20px; }
