body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 100%; }

.padding-rigth {
  padding-right: 5px; }

.submit {
  display: block;
  margin: 20px auto;
  padding: 5px;
  background-color: #3aa3e3;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #3aa3e3;
  transition: all .2s ease; }
.submit:hover {
  background-color: #1d8acd;
  border-color: #1d8acd;
  transition: all .2s ease;
  cursor: pointer; }

.article-container {
  width: 50%;
  font-family: 'Lato', sans-serif;
  margin: 0 auto; }

.article-container .article-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

.article-container .article-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px; }

.article-container .article-content {
  text-align: justify; }

.article-container .article-content .article-details {
  font-weight: bold;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.article-container .article-content .article-details img {
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.article-container .article-content .article-details span {
  padding-left: 20px; }

.comment-container {
  margin: 0 auto;
  text-align: center; }
.comment-container .comment-form {
  width: 50%;
  resize: none;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 36px 60px -40px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.05); }
.comment-container .button-danger {
  display: block;
  margin: 0 auto;
  padding: 5px;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #e74c3c;
  transition: all .2s ease; }
.comment-container .button-danger:hover {
  background-color: #d62c1a;
  border-color: #d62c1a;
  transition: all .2s ease;
  cursor: pointer; }
.comment-container .comment-content {
  margin: 30px;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 36px 60px -40px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.05); }
