body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif; }

.container {
    width: 100%; }

.article-container {
    width: 50%;
    font-family: 'Lato', sans-serif;
    margin: 0 auto; }
.article-container .article-title {
    text-align: center;
    padding-bottom: 20px; }
.article-container .article-content {
    text-align: justify; }
.article-container .article-content .article-details {
    text-align: right;
    font-weight: bold; }
