#form {
  #menu {
    line-height: 70px;
    height: 74px;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 18px;
    background-color: #F0F0F0;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;

    #action {
      float: right;
      height: inherit;
      padding-right: 18px;

      a, input[type="submit"] {
        font-weight: bold;

        &.button {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          padding: 0 32px;
          color: #000;
          text-decoration: none;
          cursor: pointer;
          border: none;

          &.primary {
            background-color: #27ae60;
            color: #fff;
            border-radius: 5px;
          }

          &.secondary {
            color: #000;
            border-radius: 5px;
          }
        }
      }
    }
  }

  h2 {
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 2px solid #b5b5b5;
  }

  .field-line {
    width: 100%;
    margin-bottom: 12px;

    label {
      display: inline-block;
      width: 15%;
      text-align: right;
      margin-right: 1%;
    }

    input {
      display: inline-block;
      padding: 4px;

      &[required] {
        // Add content:'*';
      }
    }
  }
}