#form {
  #menu {
    line-height: 70px;
    height: 74px;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 18px;
    background-color: #F0F0F0;
    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;

    #action {
      float: right;
      height: inherit;
      padding-right: 18px;

      a, input[type="submit"] {
        font-weight: bold;

        &.button {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          padding: 0 32px;
          color: #000;
          text-decoration: none;
          cursor: pointer;
          border: none;

          &.primary {
            background-color: #27ae60;
            color: #fff;
            border-radius: 5px;
          }

          &.secondary {
            color: #000;
            border-radius: 5px;
          }
        }
      }
    }
  }

  h2 {
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 2px solid #b5b5b5;
  }

  .field-line {
    width: 100%;
    margin-bottom: 12px;

    label {
      display: inline-block;
      width: 15%;
      text-align: right;
      margin-right: 1%;
    }

    input {
      display: inline-block;
      padding: 4px;

      &[required] {
        // Add content:'*';
      }
    }

    textarea {
      resize: none;
    }
  }

  .widget {
    width: 96%;
    margin: auto;

    &.page_new {
      height: 100%;
      display: flex;

      .left {
        width: 25%;
        float: left;
        text-align: right;
        padding: 0 12px;
      }

      .middle {
        width: 50%;
        display: inline-block;

        .preview {
          width: 100%;
          height: 100%;
          background-color: #27ae60;
          height: 100px;
        }
      }

      .right {
        float: right;
        width: 25%;
        padding: 2px 12px;

        span {
          padding: 6px;
          border: 1px solid #212121;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.25s ease-in-out;

          &:hover {
            background-color: rgba(172, 172, 172, 0.6);
          }
        }

      }

    }
  }

  .popin-container {
    transition: 0.75s ease-in-out;

    .popin-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 100, 100, 0.8);
    }

    .popin-content {
      position: absolute;
      top: 0;
      width: 66%;
      left: 16.5%; // (100 - width) / 2
      min-height: 150px;
      max-height: 75%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 56px;
      border-radius: 5px;
      background-color: #fff;
      padding: 4px 12px;
    }
  }

  .grid-templates {
    transition: opacity 0.75s ease-in-out;

    img {
      width: 22.25%;
      margin-left: 2%;
      margin-bottom: 32px;
      box-shadow: 6px 6px 12px rgba(80, 80, 80, 0.6);
    }
  }

  .template-config {

  }

  .fadeIn {
    animation: fadeInAnimation 0.75s ease-out;
  }

  .fadeOut {
    animation: fadeOutAnimation 0.75s ease-out;
  }

  .hidden {
    display: none;
    opacity: 0;
  }

  @keyframes fadeInAnimation {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @keyframes fadeOutAnimation {
    0% {
      display: block;
      opacity: 1;
    }

    99% {
      display: block;
      opacity: 0;
    }

    100% {
      display: none;
      opacity: 0;
    }
  }
}